{% extends "base.html" %}
{% block content %}
        {% if status == "inactive" %}


<div class="container text-center">
        <br><br><br><br>
        <h3>Please activate your account for 49.99$, you will have a trial period of 7 days</h3>
        <br><br>
        <a class="btn btn-primary text-light" href="{% url 'checkout' %}">Subscribe</a>
            {% else %}
            <br><br><br><br>
            <h3>Your account is active</h3>
            <br><br>
            <a class="btn btn-danger text-light" href="/cancel">Cancel Subscription</a>
            {% endif %}
{% endblock %}