{% extends "base.html" %}

{% block content %}


<div class="container text-center">
<br><br><br><br>
<h3>Registration complete!</h3>
<br><br>
<a class="btn btn-primary text-light" href="/accounts/profile">Return Home</a>
</div>

{% endblock %}