{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>
</div>
{% endblock %}