{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Login</h2>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
<form method="post">
  {% csrf_token %}
  {{ form | crispy}}
  <button type="submit">Login</button>
  <div>
</form>
<a class="btn btn-primary text-light" href="/register" style="margin-top: 10px;">Sign up</a>
</div>
</div>
</div>
{% endblock %}